<div id="chipmunk-login">
  <div class="container">
      <div class="row">
        <div class="col-md-6 login-heading">
          <h1>Welcome to Chipmunk </h1>
        </div>
        <div class="col-md-6 login-form">
           <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
             <h3>{{errorMsg}}</h3>
             <input type="text" formControlName="username" placeholder="USERNAME">
             <input type="password" formControlName="password" placeholder="PASSWORD">
             <button type="submit" class="login-btn" [disabled]="loginForm.invalid">Login</button>
           </form>
        </div>
      </div>
  </div>
</div>
