<div id="chipmunk-sidebar" *ngIf="!display">
  <div class="container">
      <div class="row">
        <div class="col-md-6">
          <button (click)="login()">Login</button>
          <button (click)="logout()">Logout</button>
          <a [routerLink]="['/dashboard']"><span class="material-icons"> dashboard</span></a>
          <a [routerLink]="['/countries']"><span class="material-icons">flag</span></a>
          <a [routerLink]="['/customer']"><span class="material-icons">Group</span></a>
          <a [routerLink]="['/login']"><span class="material-icons">logout</span></a>
        </div>
      </div>
  </div>
</div>
