<div id="covid-19-countries-edit">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-md-1">
          <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-10">
          <div class="col-md-12">
            <h1>Edit {{country}}</h1>
          </div>
          <div class="col-md-12 edit-country">
            <div class="col-md-6 input">
              <div class="input-section">
                 <input type="text" placeholder="Cases" [(ngModel)]="cases">
              </div>
            </div>
            <div class="col-md-6 input">
              <div class="input-section">
                <input type="text" placeholder="Deaths" [(ngModel)]="deaths">
              </div>
            </div>
            <div class="col-md-6 input">
              <div class="input-section">
                <input type="text" placeholder="Recovered" [(ngModel)]="recovered">
              </div>
            </div>
            <div class="col-md-6 input">
              <div class="input-section">
                <input type="text" placeholder="Tests" [(ngModel)]="tests">
              </div>
            </div>
            <div class="col-md-12 button-section">
              <button class="cancel" [routerLink]="'/countries'">Cancel</button>
              <button class="save" [routerLink]="'/countries'">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
