

<!-- 
<h3> using noraml form group </h3>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="colmd-6">
                <form  [formGroup]="myForm" (ngSubmit)="call()">
                  <input  type="text"formControlName="check"/>
                  <button type="submit"> click here</button>
            </form>
            </div>
        </div>
    </div>
</div> -->

<!-- 
<h3> using noraml form builder </h3> -->

<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="colmd-6">
                <form  [formGroup]="myFormbuilder" (ngSubmit)="check()">
               <input  type="text"formControlName="value"/>
               <button type="submit"> click here</button>
            </form>
            </div>
        </div>
    </div>
</div> -->


<!-- input with to add to the value to array  -->
<!-- <h3> input with to add to the value to array </h3>
<div>
    <input type="text" name="inputvalue" id="name" [(ngModel)]="inputname">
    <button type="submit" (click)="add()"> Add</button>
    <ul>
        <li *ngFor="let usersname of usersname">  {{usersname}}</li>
    </ul>
</div> -->


<!-- document.getelement by id -->
<h1 id="demo"></h1>





