#covid-19-countries-edit button {
  color: #fff;
  background-color: #0000ff;
  border-radius: 40px;
  padding: 2px 20px;
  font-family: roboto;
}
#covid-19-countries-edit .col-md-12.forms {
  display: block;
}
#covid-19-countries-edit input {
  width: 90%;
  padding: 10px;
  margin: 20px;
}
#covid-19-countries-edit .col-md-6 {
  float: left;
}
#covid-19-countries-edit .button-section {
   text-align: right;
}
#covid-19-countries-edit .h1,
#covid-19-countries-edit h1 {
  font-size: 1.5rem;
  margin-top: 20px;
}
#covid-19-countries-edit .col-md-12.edit-country {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 4px 8px 1px #ddd;
}
#covid-19-countries-edit button.cancel {
  background: #ffff !important;
  color: #918888 !important;
}
#covid-19-countries-edit .button-section {
  padding: 0 20px;
}
